# ========================
# Node
# ========================
node_modules/
**/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/
**/dist/
**/build/

# Env files
.env
.env.*
**/.env

# MacOS
.DS_Store

# VSCode
.vscode/

# Coverage
coverage/

# TypeScript
*.tsbuildinfo

# Optional
.idea/

# ========================
# Python
# ========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# ========================
# Geospatial / Data
# ========================
data/
*.laz
*.las

# ========================
# OS / Misc
# ========================
Thumbs.db